

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');

body
    {
        /* background-color: #F0F0F0; */
    }
/******************************************************************* A Personalization */
 

.navbar-brand
    {
        font-family: 'Handel Gothic';
        font-size: 200%;
        padding: 0px 0px;
        /* color: white; */
    }
.bw
    {
        border: 1px solid #888;
    }
.bw:hover
    {
        border: 1px solid #fff;
    }    
.pagination li
    {
        border: 1px solid #808080;
        padding: 2px 4px;
        margin-right: 3px;
        border-radius: 3px;
    }
.navbar
    {
        padding: 0px 0px;
    }
.bc
    {
        background-color:#0093DD;
    }

a, a::after
    {
        text-decoration: none;
    }

a:hover
    {
        text-decoration: none;
    }   
    
.supersmall
    {
        font-size: 60%;
    }

